<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-mg-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"></label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-mg-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"></label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-mg-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a routerLink="/bookadd" class="btn btn-success">Login</a>
                </div>
                <div class="col col-12 col-sm-12 col-mg-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a routerLink="/registration" class="btn btn-success">User Registration</a>
                </div>
                <div class="col col-12 col-sm-12 col-mg-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a routerLink="/userlogin" class="btn btn-success">User Login</a>
                </div>
                <div class="col col-12 col-sm-12 col-mg-12 col-lg-12 col-xl-12 col-xxl-12"></div>
            </div>
        </div>
    </div>
</div>
